@use "../../scss/tokens/utility" as token;
@use "../../scss/tokens/app-bg" as appBg;

.game-launcher {
  padding: calc(token.$spacing-unit * 3);

  &__logo-badge {
    top: calc(token.$spacing-unit * 2);
    right: calc(token.$spacing-unit * 2);
  }

  &__content {
    gap: calc(token.$spacing-unit * 2);
  }

  &__cover {
    background-color: appBg.$dark-background-color;
  }

  &__cover-placeholder {
    background-color: appBg.$dark-background-color;
  }

  &__center {
    gap: calc(token.$spacing-unit);
  }

  &__status {
    gap: calc(token.$spacing-unit / 2);
  }

  &__stats {
    gap: calc(token.$spacing-unit * 2);
    padding-top: calc(token.$spacing-unit * 2);
  }

  &__stat {
    gap: calc(token.$spacing-unit / 2);
  }

  &__button {
    padding: token.$spacing-unit calc(token.$spacing-unit * 2);
    margin-top: calc(token.$spacing-unit * 2);

    &:active {
      opacity: token.$active-opacity;
    }
  }

  &__modal-card {
    padding: calc(token.$spacing-unit * 3);
    gap: calc(token.$spacing-unit);
  }

  &__exe-list {
    gap: calc(token.$spacing-unit / 2);
  }

  &__exe-actions {
    gap: calc(token.$spacing-unit);
    margin-top: calc(token.$spacing-unit);
  }
}
