@use "../../scss/tokens/text" as token;

.game-launcher {
  &__logo-badge svg {
    fill: token.$body-color;
  }

  &__cover-placeholder {
    color: token.$muted-color;
  }

  &__title {
    color: token.$body-color;
  }

  &__status {
    color: token.$muted-color;
  }

  &__spinner {
    border: 2px solid transparent;
    border-top-color: token.$muted-color;
    border-right-color: token.$muted-color;
  }

  &__button {
    background-color: token.$muted-color;

    &--secondary {
      color: token.$body-color;
    }
  }

  &__modal-title {
    color: token.$body-color;
  }

  &__exe-option {
    color: token.$body-color;
  }
}
